/*noinspection CssUnknownTarget*/
@import url(https://fonts.bunny.net/css?family=open-sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|roboto-mono:200|spartan:100,200,300,400,500,600,700,800,900);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .full-link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 20;
        opacity: 0;
        /*background-color: orangered;*/
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .cut-text {
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
    }

    .truncate {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .tag#html {
        background-color: #E44D26;
    }

    .tag#css {
        background-color: #4FA3D8;
    }

    .tag#javascript {
        background-color: #F2C610;
    }

    .tag#php {
        background-color: #777BB3;
    }

    .tag#sql {
        background-color: #F29111;
    }

    .tag#html:hover {
        background-color: #BD3A18;
    }

    .tag#css:hover {
        background-color: #2B87C1;
    }

    .tag#javascript:hover {
        background-color: #C4A00B;
    }

    .tag#php:hover {
        background-color: #555A99;
    }

    .tag#sql:hover {
        background-color: #C4740B;
    }

    .hamburger span {
        position: relative;
        display: block;
        width: 100%;
        height: 0.125em;
        border-radius: 20px;
        background-color: #002C36;
        transition: all 0.3s ease-in-out;
        transform-origin: top right;
    }

    .hamburger .hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    .toggle:checked + .top-bar .burgermenu .hamburger .top-bun {
        transform: rotate(-46deg) translateX(-1px);
    }

    .toggle:checked + .top-bar .burgermenu .hamburger .meat {
        opacity: 0;
    }

    .toggle:checked + .top-bar .burgermenu .hamburger .bottom-bun {
        transform: rotate(46deg);
    }

    .toggle:checked ~ .menu {
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: 30;
    }
}
