/*noinspection CssUnknownTarget*/
@import url(https://fonts.bunny.net/css?family=open-sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i|roboto-mono:200|spartan:100,200,300,400,500,600,700,800,900);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ul, ol {
        list-style: revert;
    }
}

@layer components {
    .full-link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 20;
        opacity: 0;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .cut-text {
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
    }

    .truncate {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
